<div class="container">

    <div class="header">
        <div>
            <p class="title">Notes
                <span>
                    <button mat-icon-button color="warn" (click)="logOut()">
                        <mat-icon>logout</mat-icon>
                    </button>
                </span>
            </p>
            
        </div>
        <button mat-flat-button color="accent" (click)="openDialog()">Add Note</button>
    </div>
    <div class="search">
        <form>
            <mat-form-field class="full-width">
                <mat-label>Search..</mat-label>
                <input type="search" matInput placeholder="c# .net core">
                <mat-icon matSuffix>search</mat-icon>
            </mat-form-field>
        </form>
    </div>
    <div>
        <div *ngFor="let note of noteList">
            <mat-card (click)="openNoteView(note)">
                <mat-card-title>
                    {{note.noteTitle}}
                </mat-card-title>
                <mat-card-content>
                    {{note.noteContent}}
                </mat-card-content>
            </mat-card>
            <hr>
        </div>
    </div>
</div>
<!-- <div class="fab-button-container">
    <button mat-fab (click)="openDialog()">
        <mat-icon>add</mat-icon>
    </button>
</div> -->