/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
    background-color: #f3f3f3;
}

.title {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 36pt;
}

.container{
    width: 90%;
    padding: 5%;
}

.full-width {
    width: 100%;
}

.fab-button-container {
    position: absolute;
    top: 5;
    right: 0;
    z-index: 9;
    width: 120px;
}
